*{
    margin:0%;
}

.one{
     background-image:url(images/BG\ Image.png) ;
     background-size: cover;
     background-size: 100%;
}
  
h1{
  color:beige;
}

.two{
  color:beige;
}

.three{
  color: azure;

}

